<!DOCTYPE html>

<html lang="en">
    <head>
        <title>IronPDF Segfault Test</title>
    </head>
    <body>
        <div>
            <ul>
                <li>
                    <a href="InitialiseIronPdf">Initialise IronPDF</a>
                </li>
                <li>
                    <a href="CauseNullRefException">Cause NRE</a>
                </li>
            </ul>
        </div>
    </body>
</html>